<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="ISO-8859-1" http-equiv="refresh" content="30">
    <title>Arrivals and Departures</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/arrdeplist">Arrivals and Departures</a>
                    <a class="dropdown-item" href="/standpladslist">Standpladser</a>
                    <a class="dropdown-item" href="/airports">Destinationer</a>
                    <a class="dropdown-item" href="/statuslistmedium">Fly status</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
    <div class="container">
        <div>
            <h1>Arrivals and Departures</h1>
            <a href="/arrdepnew">Add new route</a>
        <br/><br/>
            <div>

        </div><table class="table table-striped table-bordered table-hover">
            <thead class="thead-light" style="text-align: center">
            <tr>
                <th scope="col" th:width="15">ID</th>
                <th scope="col" >Date</th>
                <th scope="col" >Arrival Departure</th>
                <th scope="col">Route</th>
                <th scope="col">Estimated arrival/departure</th>
                <th scope="col">Aircraft model</th>
                <th scope="col">Destination</th>
                <th scope="col">Expected time</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <tr th:each="arrdep : ${listArrDep}">
                <td th:width="15"   th:text="${arrdep.id}">ID</td>
                <td th:width="130"  th:text="${arrdep.date}">Date</td>
                <td th:width="15"   th:text="${arrdep.arrordep}">Arrival/Departure</td>
                <td th:width="30"   th:text="${arrdep.route}">Route</td>
                <td th:width="130 " th:text="${arrdep.estimated}">Estimated time of arrival/departure</td>
                <td th:width="40"   th:text="${arrdep.aircraft}">Aircraft model</td>
                <td th:width="20"   th:text="${arrdep.destination}">Destination</td>
                <td th:width="40"   th:text="${arrdep.expectedtime}">Expected time</td>
                    <div sec:authorize="hasRole('ROLE_FLYVELEDER')">
                        <td th:width="20">
                        <a th:href="@{'/editarrdep/' + ${arrdep.id}}">Edit</a>
                        </td>
                    </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <td th:width="20">
                        <a th:href="@{'/editarrdep/' + ${arrdep.id}}">Edit</a>
                        <a th:href="@{'/delete/' + ${arrdep.id}}">Delete</a>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>

            <div>
            Total arrivals and departures: [[${totalArrDeps}]] - Page [[${currentPage}]] of [[${totalPages}]]

            <a th:if="${currentPage > 1}" th:href="@{/'arrdeppage/1'}">First page</a>
            <a th:unless="${currentPage > 1}">First page</a>

                <a th:if="${currentPage > 2}">Previous page</a>

                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${i != currentPage}" th:href="@{'/arrdeppage/' + ${i}}" >[[${i}]]</a> &nbsp;
                <span th:unless="${i != currentPage}">[[${i}]]</span>
                    </span>
            </div>
        </div>
    </div>
</body>
</html>